*{
	padding: 0;
	margin: 0;
	list-style:none;
	font-size:12px;
	hello,this is my word!!!！！！！！！！！！！！Q!!!!!!
	
	
}
ul li{
	list-style: none;
}
img{
	border: 0;
	border: none;
}
body{
	background:#f5f5f5;
}
 /** 头部个人*/
.mall_header{
	width: 100%;
	height: 30px;
	background: #e6e6e6;
}
.con_mall{
	width: 1180px;
	height: 30px;
	margin: 0 auto;
	line-height: 30px;
}
.left_hot{
	float: left;
}
.left_hot span,.left_hot a{
	color: #999999;
	font-size: 12px;
}
.left_hot span{
	margin-right: 20px;
}
.left_hot a{
	text-decoration: none;
	margin-right: 8px;
}
.left_hot a:hover{
	text-decoration: underline;
}
.left_right{
	float: right;
}
.left_right a{
	color: #999999;
	font-size: 12px;
	text-decoration: none;
	margin-right: 20px;
}
.left_right a:nth-last-of-type(1){
	margin-right: 0;
}
.left_right a:hover{
	text-decoration: underline;
}
/*中间大块*/
.big_main{
	width: 100%;
	background: #F5F5F5;
	overflow: hidden;
}
/*logo*/
.logo_head{
	overflow: hidden;
	width: 1180px;
	height: 100px;
	margin: 0 auto;
}
.zuo_logo{
	width: 230px;
	height: 100px;
	float: left;
}
.zuo_logo a{
	display: block;
	width:230px;
	height: 100px;
	background: url(../img/shouye/logo-sy.png) no-repeat center center;
}
.logo_content{
	width: 780px;
	height: 100px;
	float: left;
}
.search_ind{
	width: 450px;
	height: 30px;
	border-radius: 15px;
	border: solid 1px #0058a9;
	position:relative;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	margin-top: 34px;
}
.search_ind input{
	display: inline-block;
	height: 30px;
	width: 370px;
	line-height: 31px;
	border: 0;
	border: none;
	background: #f5f5f5;
	outline: none;
	margin-left: 20px;
	color: #333333;
	font-size: 12px;
}
.search_ind button{
	display: inline-block;
	border: 0;
	border: none;
	width: 60px;
	height: 30px;
	background-color: #0058a9;
	border-radius: 0px 14px 14px 0px;
	outline: none;
	position: absolute;
	right: 0;
	cursor: pointer;
	color: #ffffff;
	font-size: 12px;
}
.logo_roght{
	width: 170px;
	height: 100px;
	float: right;
	position: relative;
	top: 0;
	left: 0;
}
.kefu_tell{
	float: left;
	margin-top: 36px;
}
.kefu_tell i{
	font-size: 24px;
	margin-right: 12px;
	color: #0058A9;
}
.telephone_go{
	float: right;
	width: 134px;
	margin-top: 30px;
	color: #0058a9;
}
.telephone_go strong{
	font-size: 19px;
}
.telephone_go span{
	font-size: 11px;
	position: absolute;
	bottom: 32px;
}
/*导航加轮播*/
.bannner{
	width: 1180px;
	height: 500px;
	margin: 0 auto;
}
.nav_top{
	width: 1180px;
	height: 40px;
}
.nav_left{
	width: 230px;
	height: 39px;
	background-color: #495966;
	float: left;
	font-size: 16px;
	color: #FFFFFF;
	line-height: 40px;
	border-bottom: solid #506373 1px;
}
.nav_left span{
	margin-left: 20px;
}
.nav_right{
	float: left;
}
.nav_right ul li{
	float: left;
	height: 40px;
	line-height: 40px;
	list-style: none;
}
.nav_right ul li a{
	color: #333333;
	font-size: 14px;
	text-decoration: none;
	margin-left: 58px;
}
.nav_right ul li a:hover{
	color: #0058a9;
}
/*左侧导航*/
.nav_navs{
	width: 1180px;
	height: 460px;
}
.left_navigation{
	width:230px;
	height: 460px;
	background:#495966;
	position: relative;
	left: 0;
	top: 0;
	float: left;
}
.first_dan{
	height: 80px;
	padding-top: 10px;
	padding-left: 20px;
}
.black_jin{
	display: inline-block;
	font-size:16px;
	color: #FFFFFF;
	text-decoration: none;
	cursor: default;
	margin-top: 14px;
}
.title_litte{
	margin-top: 10px;
}
.title_litte li{
	float: left;
}
.title_litte li a{
	font-size: 12px;
	color: #ffffff;
	margin-right: 8px;
	text-decoration: none;
}
/*移上去出现的部分*/
.banner-left-sectionContent{
	position: absolute;
	top: 0;
	left: 230px;
	width:740px;
	height: 460px;
	background: #FFFFFF;
	z-index: 99;
	-moz-box-shadow:3px 3px 6px #D8D8D8;
	-webkit-box-shadow:3px 3px 6px #D8D8D8; 
	box-shadow:3px 3px 6px #D8D8D8;
	display: none;
}
.bannerleft_dlWrap{
	margin-left: 30px;
	margin-right: 30px;
	height: 111px;
	border-bottom: solid #f5f5f5 1px;
	overflow: hidden;
}
.bannerleft_dlWrap span{
	display: block;
	font-size: 16px;
	color: #333333;
	margin-top: 24px;
}
.bannerleft_dlWrap ul li{
	float: left;
	margin-top: 20px;
}
.bannerleft_dlWrap ul li a{
	color: #666666;
	font-size: 14px;
	margin-right: 36px;
}
.bannerleft_dlWrap ul li a:hover{
	color: #0058a9;
}
.left_navigation .first_dan:hover div.banner-left-sectionContent{
 	display: block;	
}
.first_dan:hover{
	background: #798187;
}
/*.title_litte li a:hover{
	color: #0058A9;
}*/
/*中间轮播*/
.banner-middle{
	width: 730px;
	height: 460px;
	margin-left: 10px;
	float: left;
	background: #FFFFFF;
}
.banner-middle .lunbo_nac{
	height: 460px;
	width: 730px;
}
.banner-middle .next_going{
	background: url(../img/shouye/left_f.png) no-repeat center center;
	width: 30px;
	height: 60px;
	right: 0;
}
.banner-middle .prev_going{
	background: url(../img/shouye/right_f.png) no-repeat center center;
	width: 30px;
	height: 60px;
	left: 0;
}
.banner-middle .swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction{
	width: 108px;
	height: 30px;
	background-color: rgba(0, 0, 0, 0.1);
	border-radius: 15px;
	opacity: 0.8;
	left: 306px;
}
.banner-middle .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet{
	margin:-3px 4px;
}
.swiper-pagination-bullet{
	transition: width 0.3s ease-in-out;
}
.banner-middle .swiper-pagination-bullet-active{
	background: #FFFFFF;
	width:18px;
	border-radius: 10px;
}
.banner-middle .swiper-slide img{
	height: 460px;
	width: 730px;
}
/*注册登录右侧*/
.banner_right{
	width: 200px;
	height: 460px;
	float: right;
	background:#F5F5F5;
}
.login_action{
	height:150px;
	background: #FFFFFF;
	overflow: hidden;
}
.head_pictice{
	width: 50px;
	height: 50px;
	border: solid 1px #e5e5e5;
	border-radius: 50%;
	margin: 0 auto;
	margin-top: 20px;
}
.head_pictice img{
	width: 50px;
	height: 50px;
}
.login_action p{
	font-size: 12px;
	color: #333333;
	text-align: center;
	margin-top: 10px;
}
.login_sigin{
	width: 146px;
	margin: 0 auto;
	padding-top: 14px;
}
.login_sigin button{
	width: 60px;
	height: 20px;
	border-radius: 10px;
	outline: none;
	border: none;
	border: 0;
	font-size: 12px;
	cursor: pointer;
} 
.login_sigin button:nth-of-type(1){
	margin-right: 20px;
	background-color: #0058a9;
	color: #FFFFFF;
	line-height: 22px;
}
.login_sigin button:nth-of-type(2){
	background: #FFFFFF;
	border:solid 1px #0058a9; 
	color:#0058a9;
	line-height: 20px;
}
.hot_spot_information{
	margin-top: 10px;
	height: 212px;
	background: #FFFFFF;
}
.hot_spot_information h6{
	width: 160px;
	height: 30px;
	line-height: 30px;
	margin: 0 auto;
	font-size: 12px;
	color: #0058a9;
	border-bottom: 1px solid #f5f5f5;
	cursor: pointer;
}
.article_number{
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 10px;
	width: 160px;
}
.article_number p{
	font-size: 12px;
	color: #333333;
	line-height: 32px;
	height:32px;
	cursor: pointer;
}
.article_number p:hover{
	color:#0058a9;
}
.other_resources{
	margin-top: 10px;
	height: 78px;
	background: #FFFFFF;
	position: relative;
	top: 0;
	left: 0;
}
.other_resources dl dt{
	float: left;
	width: 50%;
	text-align: center;
	margin-top: 10px;
}
.other_resources dl dt img{
	width: 36px;
	height: 36px;
	cursor: pointer;
}
.other_resources dl dt span{
	display: block;
	color: #333333;
	font-size: 12px;
	margin-top: 4px;
	cursor: pointer;
}
.show_app{
	width: 100px;
	height: 100px;
	display: none;
	background: red;
	position: absolute;
	top: -98px;
}
.show_what{
	width: 100px;
	height: 100px;
	display: none;
	background: red;
	position: absolute;
	top: -98px;
	right: 0;
}
/*
 现货商城
 * 
 * */
.back_color{
	background: #FFFFFF;
}
.sc_cuoso input{
	background: #FFFFFF;
}
.sc_danhang{
	height: 40px;
	background: #FFFFFF;
	border-bottom: 1px solid #495966;
}
.sc_banner{
	height: 40px;
}
.sc_fenlei{
	margin-bottom:20px;
	width: 100%;
	background: #FFFFFF;
}
.sc_kuaangzhoang{
	width: 1180px;
	margin: 0 auto;
	overflow: hidden;
	padding-bottom: 20px;
}
.sc_kuaangzhoang span{
	float: left;
	font-size: 16px;
	color: #333333;
	line-height: 50px;
	margin-right:60px;
}
.first_nav{
	
}
.taggel_nav{
	display: none;
}
.xianshi_shoyu{
	display: block;
}
.sc_kuaangzhoang dl{
	border-bottom: solid 1px #f5f5f5;
	height: 49px;
	overflow: hidden;
}
.sc_kuaangzhoang dl dd{
	float: left;
	margin-top: 10px;
	line-height: 27px;
	padding: 0px 15px;
	height: 30px;
	border-radius: 15px;
	text-align: center;
}
.sc_kuaangzhoang dl dd a{
	color: #333333;
	font-size: 14px;
}
.sc_kuaangzhoang .post_back{
	background: #0058a9;
}
.sc_kuaangzhoang dl .post_back a{
	color: #FFFFFF;
}
.first_sjang{
	margin-top: 20px;
}
.xiay_codkj{
	width: 100%;
	height: 50px;
}
.xiay_codkj dl:nth-of-type(1){
	border-bottom:0;
	float: left;
	margin-top: 0;
}
.jian_tou_xiahua{
	width: 60px;
	height: 24px;
	border-radius: 15px;
	border: solid 1px #0058a9;
	float: right;
	font-size: 12px;
	color: #0058a9;
	cursor: pointer;
	margin-top: 10px;
}
.jian_tou_xiahua b{
	display: inline-block;
	font-weight: normal;
	margin-top:4px;
	margin-left: 10px;	
}
.jian_tou_xiahua i{
	display: inline-block;
	font-size: 14px;
	margin-top:4px;
}
.xiayi_kuai{
	width: 1180px;
	display: none;
}
.xiayi_kuai dl{
	border-bottom: 0;
	margin-left: 93px;
}
